<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detailPicture</key>
		<string>10.png</string>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>忘记时间的钟</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>夏天</string>
		<key>vip</key>
		<integer>1</integer>
		<key>detailText</key>
		<string>一个人的成熟，并不表现在获得了多少成就上，而是面对那些厌恶的人和事，不迎合也不抵触，只淡然一笑对之。当内心可以容纳很多自己不喜欢的事物时，这就叫气场！</string>
		<key>detailPicture</key>
		<string>7.png</string>
	</dict>
	<dict>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>立夏</string>
		<key>vip</key>
		<integer>0</integer>
		<key>detailPicture</key>
		<string>8.png</string>
	</dict>
	<dict>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>舒家</string>
		<key>detailText</key>
		<string>至于未来会怎样，要用力走下去才知道，先变成更喜欢的自己，路还长，天总会亮。</string>
	</dict>
	<dict>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>韩佳</string>
		<key>detailText</key>
		<string>微小的幸福就在身边，容易满足就是天堂；成功有个副作用，就是以为过去的做法同样适应于将来；天使之所以会飞，是因为她们把自己看得很轻。</string>
		<key>detailPicture</key>
		<string>9.png</string>
	</dict>
	<dict>
		<key>avatarPicture</key>
		<string>weibo_head_image.png</string>
		<key>name</key>
		<string>李东</string>
		<key>vip</key>
		<integer>1</integer>
		<key>detailText</key>
		<string>你多学一样本事，就少说一句求人的话。只要自己变优秀了，其他的事情才会跟着好起来。</string>
		<key>detailPicture</key>
		<string>10.png</string>
	</dict>
</array>
</plist>
